include MANIFEST.in
include Makefile
include COPYING
include NEWS
include README
include TODO
include tests/*.py
include smbc/context.h
include smbc/dir.h
include smbc/file.h
include smbc/smbcdirent.h
include smbc/smbcmodule.h
include test.py
